doctype html
html(lang='en-us')
  head
    title light-bubble
    link(rel='stylesheet', href='style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
  body(class=theme)
    h1.logo light
      span.logo-second-word bubble

    each form in forms
      form(action=api_endpoint method='post')
        if form.has_error
          p.error #{form.error_message}

        fieldset
          legend #{form.title}

          for field in form.fields
            if field.type == 'boolean'
              label #{field.title}
                input(type='checkbox', name=field.uid, disabled=(field.state == undefined), checked=field.state)

    script(src='client.js')
